<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <%- include('./navbar')  %>
    <h1 class="red">HELLO WORLD</h1>
    <p> <%= JSON.stringify(data) %>           </p>
    <p> <%=  data.id %></p> 
    <p> <%=  data.password %></p> 
    <p> <%=  data.name %></p> 


    <form action="/test" method="post">
        <div>
          <label for="say">What greeting do you want to say?</label>
          <input name="sayss" id="say" value="" />
        </div>
        <div>
          <label for="to">Who do you want to say it to?</label>
          <input name="to" id="to" value="" />
        </div>
        <div>
          <button>Send my greetings</button>
        </div>
    </form>


    <h1 class="btn btn-danger" >ININI</h1>

    <% if(!isHide)  {  %>
        <h1>HIDE</h1>
    <% } %>

    <img src="static/image/gambar.png" alt="">

    <table>
        <tr>
            <th>
                Id
            </th>

            <th>
                Password
            </th>

            <th>
                Name
            </th>
        </tr>
        <% for(let i = 0 ; i < arr.length ; i++) { %>
            <tr>
                <td> <%= arr[i]['id'] %>  </td>
                <td> <%= arr[i]['password']  %>  </td>
                <td> <%= arr[i]['name'] %></td>
            </tr>
        <% } %>
       
    </table>



</body>
<script>
    const input = document.getElementById('input')
    console.log(input)
    input.addEventListener('change', (e) => {
        console.log(e.target.value, '<< ini home')
    })
</script>
</html>

